<% if !@library.nil? %>
<div style="padding-top: 20px;">
	<div class="stats-label">
		<div>Your Library Stats</div>
	</div>
	<div id="stats-box">
		<div class="group"><div class="envelope">
		<ul class="stats">
			<li>
				<span>tracks</span>
				<strong><%= @library.number_of_tracks %></strong>				
			</li>
			<li>
				<span>albums</span>
				<strong><%= @library.number_of_albums %></strong>				
			</li>
			<li>
				<span>artists</span>
				<strong><%= @library.number_of_artists %></strong>				
			</li>
			<li>
				<span>total play time (hh:mm)</span>
				<strong><%= @library.total_playtime_formatted %></strong>				
			</li>
		</ul>
		</div></div>
	</div>
</div>
<div style="clear: both;"></div>
<% end %>